.input_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: white;
    padding: 0px 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.322);
}
.input_box input{
    align-items: center;
    border: none;
    width: 100%;
    margin:0;
    
}
.main_box{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}
.main_box ul{
    width: 100%;
    list-style: none;
    background-color: white;
    color: grey;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    top: 6rem;
    max-height: 13rem;
    overflow-y: auto;

}
.main_box ul li:hover{
    background-color:#828282;
    color:white
}