.sidebar {   
    height: 100vh;
    width: 170px;
	display: flex;
	left: 0;
    top: 0;
    position: fixed;
	flex-direction: column;
	border-right: 0.5px solid #a4a1a1;
    float: left;
    overflow: auto;
    font-size: 1.3rem;
    font-family: "Lobster", cursive;
}
.sidebar ul{
    margin-top: 5rem;
    list-style: none;
}
.sidebar h1{
    padding: 2rem;
}
.sidebar a:link,
.sidebar a:visited{

    display: block;
     text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    font-size: 1.4rem;
    padding: 0.5rem 2rem;   

}
.sidebar a:hover{
    background-color: aliceblue;
}
.sidebar span{
   margin-right: 2rem;
   font-size: 2rem;
 
}
.sidebar p{
    display: inline;
    font-weight: 500;
}
.selected,
.selected a:hover {
    background-color:rgb(217, 236, 253);
    /* color: white; */
}
.selected span{
    font-size: 2.2rem;
    
}